/*************************************/
/* Diseño web Contrato en Chile      */
/* V2.5                              */
/*************************************/
/* ESTILOS NORMALES (para móviles en vertical)*/
@font-face {
	font-family: 'icomoon';
	src:url('../fuentes/icomoon.eot?-r74ls0');
	src:url('../fuentes/icomoon.eot?#iefix-r74ls0') format('embedded-opentype'),
		url('../fuentes/icomoon.ttf?-r74ls0') format('truetype'),
		url('../fuentes/icomoon.woff?-r74ls0') format('woff'),
		url('../fuentes/icomoon.svg?-r74ls0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	padding: 0px;
	margin: 0px;
}
body
{
	width: 320px;
	font-family: sans-serif;
	font-size: .9rem;
	width: 100%;
	height: 100%;
	margin:0px;
	background: #CBE86B;
}
html
{
	height: 100%;
	margin:0px;
}
.oculto
{
	visibility: hidden;
	position: absolute;
  text-indent: -1000000px;
	margin-left: -10000000px;
}
li 
{
	text-decoration: none;
	list-style:none;
}
/* HEADER */
#header
{
	background: #CBE86B;
}
/* - LOGO */
#imglogo
{
	float: initial;
	display: block;
	width: 220px;
	height: 50px;
	background-repeat: no-repeat;
	background-image: url('../imagenes/minilogo.png');
	background-size: 100% auto;
	float: left;
}
/* - BUSCADOR */
#frmBuscar
{
	float: left;
	margin-bottom: 10px;
	width: 320px;
	display: none;
}
#frmBuscar > input[type="text"]
{
	display: block;
	padding: 2px 2px;
	margin: 2px 0px;
	float: initial;
	width: 100%;
}
#frmBuscar > input[type="submit"]
{
	display: block;
	padding: 6px 0px;
	margin: 0px 0px;
	float: initial;
	width: 100%;
}

/* - MENU SUPERIOR */
#menuSuperior
{
	float: left;
	padding: 0px;
	width: 320px;
	margin: 0px;
}
#menuSuperior > ul > li > a
{
	width: 100%;
	display: block;
	font-size: 20px;
	color: black;
	text-decoration: none;
}
#menuSuperior > #menuComprimido > li > a
{
	width: 20px;
	display: block;
	font-size: 20px;
	border-color: black;
	color: black;
	text-decoration: none;
	padding: 15px 20px;
	position: absolute;
	top: 0px;
	left: 260px;
}
#menuSuperior > #menuDescomprimido
{
	display: none;
	width: 100%;
}
#menuSuperior > #menuDescomprimido > li > a
{
	width: 100%;
	font-size: 20px;
	float: left;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: black;
	color: black;
	text-decoration: none;
	padding: 5px 20px;
}
#menuSuperior > ul > li > a:hover
{
	background: rgba(0,0,0,0.5);
}
#menuSuperior > ul > li > a > img
{
	width: 20px;
	float: left;
	margin-top: 1px;
}
#menuSuperior > #menuComprimido label
{
	display: none;
}
/* CHAT CORREGIR!!! */
#divContratos
{
	background: white;
	float: right;
	background: rgba(143, 194, 66, 0.8);
	border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	width: 100%;
	display: none;
}
#divContratos > div:first-child
{
	text-align: center;
	background: rgba(0, 0, 0, 0.1);
}
#divContratos > div
{
	background: white;
	padding: 0 10px;
}
#divContratos > div:nth-child(n+2):hover
{
	background: rgba(0, 0, 0, 0.3);
}
#divContratos:last-child
{
	margin-bottom: 30px;
}
#divChat
{
	z-index: 99;
}
#divChat > div {
  bottom: 0;
  font: 100%/1.5em "Droid Sans", sans-serif;
  font-size: 12px;
  //right: 24px;
  //position: fixed;
  width: 300px;
  //float: left;
  //background: #fff;
}
#divChat > div > .cabecera
{
  background: #293239;
  border-radius: 5px 5px 0 0;
  color: #fff;
  cursor: pointer;
  padding: 8px 24px;
}
#divChat > div > .cabecera > label
{
  //nombre
}
#divChat > div > .cabecera > a
{
	float: right;
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 8px 12px;
}
#divChat > div > .cabecera > a:hover
{
	//background: rgba(255, 255, 255, 0.5);
}
#divChat > div > .cabecera > label:before {
  background: #1a8a34;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 8px;
  margin: 0 8px 0 0;
  width: 8px;
}
#divChat > div > .historial
{
  height: 252px;
  overflow-y: scroll;
  background: #6E6E6E;
}
#divChat > div > .historial > p
{
  width: 80%;
  background: #FFFFFF;
  margin: 5px 0px;
  padding: 5px;
}
#divChat > div > .historial > .a
{
  float: left;
  background: #086A87;
  color: #fff;
  border-radius: 0px 5px 5px 0;
}
#divChat > div > .historial > .b
{
  float: right;
  border-radius: 5px 0px 0 5px;
  color: #9a9a9a;
}
#divChat > div > .historial > .system
{
  margin-left: 10%;
}
#divChat > div > .escribir
{
  background: #FFF;
}
#divChat > div > .escribir form 
{
  padding: 12px 0px;
}
#divChat > div > .escribir > form > input[type="text"] 
{
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px;
  outline: none;
  width: 85%;
  margin-left: calc(7% - 8px);
}
#divChat .inactivo div:nth-child(n+2)
{
	display: none;
}
/* MENU */
/* - MENU VERTICAL (CATEGORIAS y menu de administracion) */
/* Corregir colores del menu */
#menuVertical
{
	display: none;
	float: left;
	width: 100%;
	//background: black;
	text-align: center;
}
#menuVertical li > a
{
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: black;
	display:inline-block;
	color: black;
	text-decoration: none;
	font-size:15px;
	width: 100%;
	padding: 10px 0px;
}
#menuVertical li > a:hover
{
	
	
	background: #98CBF2;
	color: white;
}
#menuVertical .tipo
{
	color:  #F7CA26;
}
#menuVertical .seleccionado
{
	background: #30A5FF;
	color: white;
}
#menuVertical .categoria
{
	background:  #188E57;
}
#menuVertical .seleccionado:hover
{
	color: #30A5FF;
	background: #E9ECF2;
}
/* - Panel de control */
#menuVertical li > span
{
	text-align: center;
	width: 100%;
	font-size: 20px;
}
#menuVertical > ul > li a, #menuVertical > ul > li span 
{
	display: block;
	text-decoration: none;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);
	border: solid 1px #fff;
	padding: 4px 0px;
	position: relative;
}
#menuVertical > ul > li > span > a { border: 0px }

#menuVertical > ul > li ul li a
{
	background: rgba(0, 0, 0, 0.1);
	font-weight:normal;
}

#menuVertical  ul > li ul {display: none; }

#menuVertical  ul > li a:link:hover ul {display: none;}

#menuVertical  ul > li a:active:hover ul  {display: block;}

#menuVertical  ul > li:focus ul, 
#menuVertical  ul > li:active ul, 
#menuVertical ul > li a:active ul {display: block;}

/* CONTENIDO */
#contenido
{
	float: left;
	background: rgba(255, 255, 255, 1);
	width: 100%;
}
/* - /buscar(filtro) */
.filtro
{
	width: 90%;
	padding: 0 5%;
}
.filtro > div, .filtro > div > select
{
	width: 25%;
}
/* - /(ininio) */
#artComentarios, #artCelular
{
	width: 100%;
	float: left;
	background: url(../imagenes/bg.png);
}
#artComentarios > div
{
	width: 100%;
	text-align: center;
}
#artComentarios > div > a
{
	background-repeat: no-repeat;
	background-size: auto 100%;
	display: block;
	margin-left: calc(50% - 48px);
	width: 96px;
	height: 81px;
}
#artComentarios > div > label
{
	font-size: 20px;
}
#artComentarios > div:nth-child(2n - 1)
{
	background: rgba(0, 0, 0, 0.3);
}
#imgContrata
{
	background: url(../imagenes/compra.png);
}
#imgProteccion
{
	background: url(../imagenes/proteccion.png);
}
#imgPublica
{
	background: url(../imagenes/publica.png);
}
#imgCelular
{
	//margin-top: -80px;
	float: left;
	margin-left: calc(50% - 100px);
	width: 200px;
	height: 230px;
	background: url(../imagenes/celular.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
}
#artCelular > label
{
	font-size: 40px;
}
#artCelular > p
{
	//margin-top: 50px;
}
#artRedes
{
	display: none;
}
#divFacebook
{
	background: #3A5795;
	color: white;
	width: 100%;
	float: left;
}
#divTwitter
{
	background: lightblue;
	width: 100%;
	float: left;
}
/* - /administracion(ininio del panel de administracion) */
.divPrincipal > .actBody > .grafico >canvas
{
	margin-left: 5%;
}
#widgets
{
	width: 100%;
	float: left;
}
#widgets > div
{
	width: 18%;
	margin: 10px 3.5%;
	float: left;
	box-sizing: border-box;
}
#widgets > div > div
{
	border-radius: 4px;
	background: #FFF;
}
#widgets > div > div > div
{
	text-align: center;
	height: 50px;
	padding: 9px 0px 1px;
}
#widgets > div > div > div > div > em
{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
}
#widgets > div > div > div > div > em:before {

	font-size: 40px;
	color: white;
	width: 50%;
	float: left;
	margin-top: -10px;
	padding-top: 10px;
	border-radius: 4px 0 0 4px;
	height: 50px;
}
#widgets > div:nth-child(1) > div > div > div > em:before
{
	content: "\e605";
	background: #30A5FF;
}
#widgets > div:nth-child(2) > div > div > div > em:before
{
	content: "\e601";
	background: #FFB53E;
}
#widgets > div:nth-child(3) > div > div > div > em:before
{
	content: "\f087";
	background: #1EBFAE;
}
#widgets > div:nth-child(4) > div > div > div > em:before
{
	content: "\f088";
	background: #F9243F;
}
#widgets > div > div > div > div > div:nth-child(1)
{
	font-size: 20px;
}
#widgets > div > div > div > div > div:nth-child(2)
{
	color: #9FADBB;
	font-size: 14px;
}
//.divActividades
{
	float: left;
}
.divActividades > .actHead, .divPrincipal > .actHead
{
	width: 100%;
	background: black;
	color: white;
	float: left;
	text-align: center;
}
.divPrincipal >.actBody
{
	height: 200px;
	float: left;
}
/* - General - */
#contenido > .titulo
{
	float: left;
	text-align: left;
	width: auto;
	margin: 15px 0 10 15;
}
#editor
{
	text-align: left;
}
.boton
{
	background-color: #30a5ff;
  border-color: #30a5ff;
	padding: 6px 12px;
	color: white;
	font-size: 14px;
	font-weight: 400;
	border: 1px solid transparent;
	border-radius: 4px;
	text-decoration: none;
}
.boton:hover
{
	background: rgba(255, 255, 255, 0.5);
	color: black;
	border-color: black;
}
#contenido > .boton
{
	float: right;
	margin: 10px;
}
/* - FORMULARIOS */
#contenido form
{
	width: 100%;
}
#contenido form > div
{
	width: 100%;
	text-align: center;
}
#contenido form > div > label
{
	width: 100%;
}
#contenido form > div > input, #contenido form > div > select, #contenido form > div > textarea
{
	width: 100%;
}
#contenido form > div > img
{
	display: none;
}
#contenido form > div > #Captcha
{
		display: initial;
}
#contenido form > div > input[type="submit"]
{
	background-color: #30a5ff;
  border-color: #30a5ff;
	padding: 6px 12px;
	color: white;
	font-size: 14px;
	font-weight: 400;
	border: 1px solid transparent;
	border-radius: 4px;
}
#contenido form > div > input[type="submit"]:hover
{
	background: #156FB4;
}
#contenido form > div > input[type="checkbox"]
{
	float: left;
}
.toolbar-container
{
	width: 100%;
	background: white;
}
.submit
	{
		margin-left: 30%;
		float: left;
	}
	
	.cancel
	{
		float: lefT;
		background: red;
	}
/* - SERVICIOS (LISTA) */
.servicios
{
	margin: 2px 0px 0 0;
	min-height: 95px;
	width: 100%;
	//background: #ffff99;
	float: left;
	//position: relative;
	text-align: center;
}
.servicios > .titulo
{
	font-weight:bold;
}
.servicios label
{
	color: black;
	margin: 0 10px;
	font-size: 20px;
}
.servicios p
{
	color: black;
	font-weight:lighter;
}
.servicios:hover
{
	//background: #e8e96f;
}
.servicios .descripcion
{
	border: 1px solid black;
	width: calc(100% - 2px);
}
.servicios .descripcion:hover
{
	height: auto;
	min-height: 40px;
}
.servicios > a > img, .servicios > img
{
	height: 200px;
	width: 80%;
	margin-left: 10%;
	float: left;
	background-position: left;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#imagenDescripcion > img
{
	height: 200px;
	width: 80%;
	margin-left: 10%;
	float: left;
	background-position: left;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.servicios .tipo
{
	margin: 0px;
	color: black;
	display:inline-block;
	cursor:pointer;
	font-family:arial;
	font-size:15px;
	text-decoration:none;
	text-align: center;
	width: 100%;
}
.servicios .tipo a
{
	display: block;
	background: white;
	color: silver;
}
.servicios .tipo a:nth-child(n+4)
	{
		color: blue;
	}
.servicios .tipo a:hover
{
	background: gray;
}

/*Detalle de los servicios*/
.detalle
{
	width: 100%;
}
.detalle > div
{
	width: 100%;
}
.detalle > .botones > .boton > .agregar, .detalle > .botones > .boton > em
	{
		font-family: 'icomoon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		font-size: 24px;	
	}
.detalle > .botones > .boton > label
{
	//display: none;
	font-size: 24px;
	margin-left: 10px;
}
.detalle > .botones > .boton > .agregar:before
{
		content: "\f055";
}
.detalle > .botones > .carro
{
	background: #1EBFAE;
}
.detalle > .botones > .carro > em:before
{
		content: "\f07a";
}
.detalle > .botones > .comparacion
{
	background: #FFB53E;
}
.detalle > .botones > .comparacion > em:before
{
		content: "\e600";
}
.detalle > #descripcion
{
	width: 100%;
	float: left;
}

.detalle > #reputacion > ul, .detalle > #reputacion
{
	width: 100%;
	float: left;
}
.detalle > #reputacion > h2
{
	width: 100%;
	text-align:  center;
}
.detalle > #reputacion > ul > li > label
{
	font-size: 12px;
}
.detalle > #reputacion > ul > li > label
{
	float: right;
	text-align: center;
}
.detalle > #reputacion > ul > li
{
	padding: 5px;
}
.detalle > #reputacion > ul > .calNo_calificable
{
	display: none;
}
.detalle > #reputacion li:nth-child(2n)
{
	background: silver;
}
/* - - /Navegacion de los servicios */
#contenido > .navegacion
{
	width: 100%;
}
#contenido > .navegacion > li
{
	float: left;
	margin: 20px 10px;
}
#contenido > .navegacion > li > a
{
	font-size: 15px;
	text-decoration: none;
	color: black;
	float: left;
	padding: 10px;
	border-radius: 4px;
	//background: #E9ECF2;
	background: white;
}
#contenido > .navegacion > li > a:hover
{
	background: #D1D4DB;
	color: blue;
}
#contenido > .navegacion > li > .seleccionado
{
	background: #81DAF5;
	color: white;
}
#contenido > .navegacion > li:nth-child(1) > a >em:before
{
	content: "\f048";
	background: #FFF;
}
#contenido > .navegacion > li:nth-child(2) > a >em:before
{
	content: "\f049";
	background: #FFF;
}
#contenido > .navegacion > li:nth-child(3) > a >em:before
{
	content: "\f04e";
	background: #FFF;
}
#contenido > .navegacion > li:nth-child(4) > a >em:before
{
	content: "\f050";
	background: #FFF;
}
/* - /Tabla (de la administracion) */
.sortable 
{
	width: calc(100% - 2px); 
	border-left:1px solid #c6d5e1; 
	border-top:1px solid #c6d5e1; 
	font:10px Verdana,Arial; 
	background:#F1F4F7; 
	color:#091f30;
}
.sortable th {
	background: #428BCA; 
	text-align:left; 
	color:#cfdce7; 
	border:1px solid #fff; 
	border-right:none;
	display: none;
}
.sortable tr  th
{
	font-size:10px; 
	padding: 6px 8px 8px;
}
.sortable td 
{
	padding:4px 0px 6px 0px; 
	border-bottom:1px solid #c6d5e1; 
	border-right:1px solid #c6d5e1;
}
.sortable > tbody > tr > td, .sortable > tbody > tr > th
{
		width: 100%;
	float: left;
	text-align: center;
}
.sortable .head h3 
{
	background:url(../imagenes/tabla/sort.gif) 7px center no-repeat; 
	cursor:pointer; 
	padding-left:18px
}
.sortable .desc, .sortable .asc {background:url(../imagenes/tabla/header-selected-bg.gif)}
.sortable .desc h3 {background:url(../imagenes/tabla/desc.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.sortable .asc h3 {background:url(../imagenes/tabla/asc.gif) 7px  center no-repeat; cursor:pointer; padding-left:18px}
.sortable .head:hover, .sortable .desc:hover, .sortable .asc:hover {color:#fff}
.sortable .evenrow td {background:#fff}
.sortable .oddrow td {background:#ecf2f6}
.sortable td.evenselected {background:#ecf2f6}
.sortable td.oddselected {background:#dce6ee}

#controls 
{
	width:90%; 
	margin: 10px 0 10px 5%; 
	height:20px
}
#perpage {float:left; width: 33.3%;}
#perpage select 
{
	float:left; 
	font-size:11px;
	width: 20%;
	min-width: 50px;
	margin-right: 10px;
}
#perpage span {float:left}
#navigation 
{
	float:left; 
	width: 33.3%; 
	text-align:center;
}
#navigation img {cursor:pointer}
#text 
{
	float:right; 
	width: 33.3%; 
	text-align:right; 
	margin-top:2px
}
/* FOOTER */
#footer
{
	float: left;
	width: 100%;
	height: auto;
	text-align: center;
	padding-bottom: 20px;
}
#footer ul > li > a
{
	display: block;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: black;
	padding: 5px 20px;
	background: rgba(0, 0, 0, 0.1);
}
#footer ul > li > a:hover
{
	background: rgba(0, 0, 0, 0.5);
}
#footer a
{
	text-decoration: none;
	color: black;
}
.btn {
    background-color: #282828;
    border: 1px solid #999999;
    border-radius: 5px;
    color: white;
    float: center;
    font-size: 0.75em;
    font-weight: normal;
    padding: 8px 15px 9px 50px;
    text-decoration: none;
}
.btn:hover {
    background-color: #484848;
}
.btn-collapse {
    background: url("../imagenes/ui/collapse.png") no-repeat scroll center -5px rgba(72, 72, 72, 0.5); ;
    border-radius: 2px;
    line-height: 30px;
    width: 50px;
}
.btn-collapsed {
    background: url("../imagenes/ui/collapse.png") no-repeat scroll center -46px rgba(72, 72, 72, 0.5);
    height: 40px;
    top: -10px;
		border-radius: 2px;
    line-height: 30px;
    width: 50px;
}
.derechos
{
	font-size: 20px;
	margin-top: 10px;
}
.derechos > ul
{
	margin: 0 auto;
	width: 100%;
}
.derechos > ul > li
{
	width: 100%;
	float: left;
	
}
.derechos > ul > li > a
{
	width: 100%;
	font-size: 16px;
}
#masdetalles > div > h5
{
	font-size: 20px;
}

/* Ventanas */
.mensaje
{
	width: 80%;
	margin: 20px 0;
	margin-left: 10%;
	float: left;
	border-radius: 4px;
	color: #FFF;
}
.mensaje>em
{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
}
.mensaje>em:before
{
	font-size: 20px;
	float: left;
	margin: 10px;
}
.mensaje >p
{
	width: calc(100% - 80px);
	float: left;
	margin-top: 10px;
}
.mensaje>a
{
	float: right;
	padding: 10px;
}

.informativo
{
	background: #6FC0FE;
}
.informativo>em:before
{
	content: "\f05a";
}
.exito
{
	background: #8ad919;
}
.exito>em:before
{
	content: "\f044";
}
.alerta
{
	background: #F9243F;
}
.alerta>em:before
{
	content: "\f071";
}
.titulo
{
	width: 100%;
	text-align: center;
	margin-top: 10px;
}
/* Móviles en horizontal o tablets en vertical*/
@media (min-width: 768px) {
	#menuSuperior > ul > li > a > label
	{
		display: none;
	}
}
 
/* Tablets en horizonal y escritorios normales */
@media (min-width: 1024px) 
{ 

}
 
/* Escritorios muy anchos */
@media (min-width: 1200px) 
{ 
	
}
.visible
{
	display: inline;
}