/*************************************/
/* Diseño web Contrato en Chile      */
/* V2.5                              */
/*************************************/
/* ESTILOS NORMALES (para móviles en vertical)*/
* {
	padding: 0px;
	margin: 0px;
}
body
{
	width: 320px;
	font-family: sans-serif;
	font-size: .9rem;
	width: 100%;
	height: 100%;
	margin:0px;
	background: #CBE86B;
}
html
{
	height: 100%;
	margin:0px;
}
.oculto
{
	visibility: hidden;
	position: absolute;
  text-indent: -1000000px;
	margin-left: -10000000px;
}
li 
{
	text-decoration: none;
	list-style:none;
}
/* HEADER */
/* - LOGO */
#imglogo
{
	float: initial;
	display: block;
	width: 220px;
	height: 50px;
	background-repeat: no-repeat;
	background-image: url('../imagenes/minilogo.png');
	background-size: 100% auto;
	float: left;
}
/* - BUSCADOR */
#frmBuscar
{
	float: left;
	margin-bottom: 10px;
	width: 320px;
	display: none;
}
#frmBuscar > input[type="text"]
{
	display: block;
	padding: 2px 2px;
	margin: 2px 0px;
	float: initial;
	width: 100%;
}
#frmBuscar > input[type="submit"]
{
	display: block;
	padding: 6px 0px;
	margin: 0px 0px;
	float: initial;
	width: 100%;
}

/* - MENU SUPERIOR */
#menuSuperior
{
	float: left;
	padding: 0px;
	width: 320px;
	margin: 0px;
}
#menuSuperior > ul > li > a
{
	width: 100%;
	display: block;
	font-size: 20px;
	color: black;
	text-decoration: none;
}
#menuSuperior > #menuComprimido > li > a
{
	width: 20px;
	display: block;
	font-size: 20px;
	border-color: black;
	color: black;
	text-decoration: none;
	padding: 15px 20px;
	position: absolute;
	top: 0px;
	left: 260px;
}
#menuSuperior > #menuDescomprimido
{
	display: none;
	width: 100%;
}
#menuSuperior > #menuDescomprimido > li > a
{
	width: 100%;
	font-size: 20px;
	float: left;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: black;
	color: black;
	text-decoration: none;
	padding: 5px 20px;
}
#menuSuperior > ul > li > a:hover
{
	background: rgba(0,0,0,0.5);
}
#menuSuperior > ul > li > a > img
{
	width: 20px;
	float: left;
	margin-top: 1px;
}
#menuSuperior > #menuComprimido label
{
	display: none;
}
/* CHAT CORREGIR!!! */
#divContratos
{
	background: white;
	float: right;
	background: rgba(143, 194, 66, 0.8);
	border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	width: 100%;
	display: none;
}
#divContratos > div:first-child
{
	text-align: center;
	background: rgba(0, 0, 0, 0.1);
}
#divContratos > div
{
	background: white;
	padding: 0 10px;
}
#divContratos > div:nth-child(n+2):hover
{
	background: rgba(0, 0, 0, 0.3);
}
#divContratos:last-child
{
	margin-bottom: 30px;
}
#divChat
{
	position: fixed;
	bottom: 0px;
	right: 200px;
}
#divChat > div
{
	width: 200px;
	max-height: 300px;
	margin: 0 2px;
	border: 2px solid black;
	float: left;
}
#divChat > div .cabecera
{
	background: lightblue;
	font-size: 16px;
	text-align: center;
}
#divChat > div .cabecera img
{
	width: 20px;
	float: right;
}
#divChat > div .historial
{
	background: white;
	padding: 2px;
}
#divChat > div .historial .a
{
	background: lightblue;
	text-align: left;
	margin: 2px 15px 2px 3px;
	padding: 0 6px;
	border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	
}
#divChat > div .historial .b
{
	background: silver;
	text-align: right;
	margin: 2px 3px 2px 15px;
	padding: 0 6px;
	border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
}
#divChat > div .escribir input
{
	width: 100%;
}
#divChat .inactivo div:nth-child(n+2)
{
	display: none;
}
/* MENU */
/* - MENU VERTICAL (CATEGORIAS y menu de administracion) */
/* Corregir colores del menu */
#menuVertical
{
	display: none;
	float: left;
	width: 100%;
	//background: black;
}
#menuVertical li > a
{
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: black;
	display:inline-block;
	color: black;
	text-decoration: none;
	font-size:15px;
	width: 100%;
	padding: 10px 0px;
}
#menuVertical li > a:hover
{
	background: rgba(0, 0, 0, 0.8);
}
/* - Panel de control */
#menuVertical li > span
{
	text-align: center;
	width: 100%;
	font-size: 20px;
}
#menuVertical > ul > li a, #menuVertical > ul > li span 
{
	display: block;
	text-decoration: none;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);
	border: solid 1px #fff;
	padding: 4px 0px;
	position: relative;
}
#menuVertical > ul > li > span > a { border: 0px }

#menuVertical > ul > li ul li a
{
	background: rgba(0, 0, 0, 0.5);
	font-weight:normal;
}

#menuVertical  ul > li ul {display: none; }

#menuVertical  ul > li a:link:hover ul {display: none;}

#menuVertical  ul > li a:active:hover ul  {display: block;}

#menuVertical  ul > li:focus ul, 
#menuVertical  ul > li:active ul, 
#menuVertical ul > li a:active ul {display: block;}

/* CONTENIDO */
#contenido
{
	float: left;
	background: rgba(255, 255, 255, 1);
	width: 100%;
}
/* - /(ininio) */
#artComentarios, #artCelular
{
	width: 100%;
	float: left;
	background: url(../imagenes/bg.png);
}
#artComentarios > div
{
	width: 100%;
	text-align: center;
}
#artComentarios > div > a
{
	background-repeat: no-repeat;
	background-size: auto 100%;
	display: block;
	margin-left: calc(50% - 48px);
	width: 96px;
	height: 81px;
}
#artComentarios > div > label
{
	font-size: 20px;
}
#artComentarios > div:nth-child(2n - 1)
{
	background: rgba(0, 0, 0, 0.3);
}
#imgContrata
{
	background: url(../imagenes/compra.png);
}
#imgProteccion
{
	background: url(../imagenes/proteccion.png);
}
#imgPublica
{
	background: url(../imagenes/publica.png);
}
#imgCelular
{
	//margin-top: -80px;
	float: left;
	margin-left: calc(50% - 100px);
	width: 200px;
	height: 230px;
	background: url(../imagenes/celular.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
}
#artCelular > label
{
	font-size: 40px;
}
#artCelular > p
{
	//margin-top: 50px;
}
#artRedes
{
	display: none;
}
/* - /administracion(ininio del panel de administracion) */
canvas
{
	float: left;
	//position: absolute;
	width: 100%;
}
/* - FORMULARIOS */
#contenido form
{
	width: 100%;
}
#contenido form > div
{
	width: 100%;
	text-align: center;
}
#contenido form > div > label
{
	width: 100%;
}
#contenido form > div > input, #contenido form > div > select, #contenido form > div > textarea
{
	width: 100%;
}
#contenido form > div > img
{
	display: none;
}
/* FOOTER */
#footer
{
	float: left;
	width: 100%;
	height: auto;
	text-align: center;
	padding-bottom: 20px;
}
#footer ul > li > a
{
	display: block;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: black;
	padding: 5px 20px;
	background: rgba(0, 0, 0, 0.1);
}
#footer ul > li > a:hover
{
	background: rgba(0, 0, 0, 0.5);
}
#footer a
{
	text-decoration: none;
	color: black;
}
.btn {
    background-color: #282828;
    border: 1px solid #999999;
    border-radius: 5px;
    color: white;
    float: center;
    font-size: 0.75em;
    font-weight: normal;
    padding: 8px 15px 9px 50px;
    text-decoration: none;
}
.btn:hover {
    background-color: #484848;
}
.btn-collapse {
    background: url("../imagenes/ui/collapse.png") no-repeat scroll center -5px rgba(72, 72, 72, 0.5); ;
    border-radius: 2px;
    line-height: 30px;
    width: 50px;
}
.btn-collapsed {
    background: url("../imagenes/ui/collapse.png") no-repeat scroll center -46px rgba(72, 72, 72, 0.5);
    height: 40px;
    top: -10px;
		border-radius: 2px;
    line-height: 30px;
    width: 50px;
}
.derechos
{
	font-size: 20px;
	margin-top: 10px;
}
.derechos > ul
{
	margin: 0 auto;
	width: 100%;
}
.derechos > ul > li
{
	width: 100%;
	float: left;
	
}
.derechos > ul > li > a
{
	width: 100%;
	font-size: 16px;
}
#masdetalles > div > h5
{
	font-size: 20px;
}
/* Móviles en horizontal o tablets en vertical*/
@media (min-width: 768px) {
	#menuSuperior > ul > li > a > label
	{
		display: none;
	}
}
 
/* Tablets en horizonal y escritorios normales */
@media (min-width: 1024px) 
{ 

}
 
/* Escritorios muy anchos */
@media (min-width: 1200px) 
{ 
	
}
.visible
{
	display: inline;
}